/* Admin Page CSS */

#createNewTrip {
  text-align: center;
  background-color: rgb(191, 7, 55);
  color: white;
}

#createNewTrip:hover {
  background-color: lightgrey;
  border: 1px darkgrey solid;
}

#admin-controls-wrapper {
  margin-top: 0;
  text-align: center;
}

#refreshList {
  margin-left: 5%;
  text-align: center;
  background-color: rgb(191, 7, 55);
  color: white;
}

#refreshList:hover {
  background-color: lightgrey;
  border: 1px darkgrey solid;
}

#customerSite {
  margin-left: 5%;
  text-align: center;
  background-color: rgb(191, 7, 55);
  color: white;
}

#customerSite a {
  text-decoration: none;
  color: white;
}

#customerSite:hover {
  background-color: lightgrey;
  border: 1px darkgrey solid;
}

/* Trip list response styling */

#trip-list-inner-wrapper {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

#adminInfoBox {
  display: inline-block;
  float: left;
  width: 60%;
}

#adminName {
  float: center;
  font-size: 20px;
  margin-bottom: 2%;
}

#adminAbility {
  float: center;
  font-size: 12px;
}

#adminStartStyle {
  float: center;
  font-size: 12px;
}

#adminButtonBox {
  float: right;
  display: inline-block;
  margin-left: 5%;
}

#adminUpdateTrip {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: rgb(191, 7, 55);
  width: 120px;
  height: 20px;
  border: none;
  border-radius: 25px;
  color: white;
}

#adminUpdateTrip:hover {
  background-color: lightgrey;
  border: 1px darkgrey solid;
}

#adminImgBox {
  display: inline-block;
  text-align: right;
  margin-left: 5%;
  width: 12%;
  height: auto;
}

#adminImgCheckImg {
  border: 2px solid grey;
  width: 80%;
  height: auto;
}

#newTripBoxStyle {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

#newTripBoxStyle form {
  margin: 0;
}

#adminNewName {
  display: inline-block;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
}

#adminNewButton {
  display: inline-block;
  width: 30%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 4%;
  margin-left: 1%;
}

#adminNewLocation {
  display: inline-block;
  width: 30%
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 1%;
}

#adminNewStart {
  display: inline-block;
  width: 30%
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 4%;
}

#adminNewEnd {
  display: inline-block;
  width: 30%
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 1%;
}

#admin-form-controls {
  text-align: right;
  margin: 2%;
}

#submitNewTrip {
  margin-left: 2%;
}

#goBackToList, #submitNewTrip {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: rgb(191, 7, 55);
  width: 120px;
  height: 20px;
  border: none;
  border-radius: 25px;
  color: white;
}

#submitNewTrip:hover {
  background-color: lightgrey;
  border: 1px darkgrey solid;
}

#goBackToList:hover {
  background-color: lightgrey;
  border: 1px darkgrey solid;
}