body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	text-align: center;
	margin-top: 2%;
	font-size: 30px;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background-color: white;
 	width: 150px;
 	height: 45px;
 	border: none;
 	border-radius: 25px;
}

ul {
	padding: 0;
	list-style-type: none;
}

#imgStyleDiv img {
	float: left;
	width: 40%;
	margin-top: 2;
	border: 2px solid lightgrey;
	box-shadow: 1px 1px 1px 1px lightgrey;
	margin-left: 2%;
	margin-right: 5%;
}

.hidden {
	display: none;
}

#logo-wrapper img {
	width: 100px;
	height: auto;
}

#logo-wrapper {
	text-align: center;
	margin: auto;
}

#inner-box-wrapper {
	box-sizing: border-box;
	text-align: center;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 400px;
	border-radius: 20px;
	/*
	Background Image CSS
	background-image: url(img/sunset1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;*/
	box-shadow: 1px 1px 1px 1px lightgrey;
	border: 2px solid grey;
}

#landing-box {
	margin-top: 5%;
	padding: 5%;
	color: black;
	font-size: 20px;
}

#start {
	margin-top: 15%;
	background-color: rgb(191, 7, 55);
	color: white;
}

#start:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#controls-wrapper {
	text-align: center;
	margin-top: 5%;
}

#next {
	text-align: center;
	background-color: rgb(191, 7, 55);
	color: white;
	margin-left: 5%;
}

#next:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#startOver {
	text-align: center;
	background-color: rgb(191, 7, 55);
	color: white;
}

#startOver:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#calendar-wrapper {
	margin-top: 5%;
	padding-top: 5%;
}

#calendar-wrapper, input {
	margin-top: 3%;
	font-size: 20px;
}

#skill-level-wrapper {
	text-align: center;
	margin-top: 5%;
	padding-top: 5%;
}

#skill-level-wapper, form {
	margin-top: 3%;
}

#ability-level, #skill-level-wrapper {
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;

}

#ability-level:hover {
    background-color: rgb(191, 7, 55);
}

/* final review styling*/

#submit {
	text-align: center;
	background-color: rgb(191, 7, 55);
	color: white;
	margin-left: 5%;
}

#submit:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#final-review-wrapper {
	padding-top: 3%;
}

#progressbar {
	top: 25%;
	margin-left: 25%;
	width: 50%;
}

/* Trip wrapper sytling */

#nameOfTripStyle {
	text-align: right;
	padding-right: 5%;
	font-size: 30px;
	padding-top: 2%;
}

#descriptionStyle {
	color: black;
	padding-top: 2%;
	padding-right: 5%;
	text-align: right;
	margin-left: 45%;
}

#trip-back-wrapper {
	float: left;
	margin-top: 20%;
	margin-left: 4%;
}

#tripBack {
	width: 100%;
	font-size: 60px;
	padding: 0;
}

a {
	outline: none;
}

#tripBack:hover {
	color: lightgrey;
}

#trip-forward-wrapper {
	float: right;
	margin-top: 20%;
	margin-right: 4%;
}

#tripForward {
	width: 100%;
	font-size: 60px;
	padding: 0;
}

#tripForward:hover {
	color: lightgrey;
}

#trip-wrapper {
	border: none;
}

#tripDatesStyle {
	float: left;
	font-size: 12px;
	color: black;
	padding-left: 2%;
	padding-right: 2%;
	color: black;
}

#locationStyle {
	float: right;
	margin-bottom: 2%;
	margin-right: 5%;
	padding-top: 2%;
}

#abilityLevelStyle {
	padding-top: 2%;
	padding-right: 5%;
}

#urlStyle button{
	margin-top: 8%;
	text-align: center;
	background-color: rgb(191, 7, 55);
	color: white;
}

#urlStyle:hover button{
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

/* footer and about page styling */

footer {
	margin-top: 10%;
	margin-right: 2%;
	text-align: right;
	font-family: 'Sacramento', cursive;
	font-size: 24px;
}

footer a {
	color: lightgrey;
}

footer:hover a {
	color: black;
}

#about-description {
	padding: 5%;
	font-size: 20px;
}

#back-to-search {
	background-color: rgb(191, 7, 55);
	color: white;
}

#back-to-search a {
	text-decoration: none;
	color: white;
}

#back-to-search:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

/* Admin Page CSS */

#createNewTrip {
	text-align: center;
	background-color: rgb(191, 7, 55);
	color: white;
}

#createNewTrip:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#admin-controls-wrapper {
	margin-top: 0;
	text-align: center;
}

#refreshList {
	margin-left: 5%;
	text-align: center;
	background-color: rgb(191, 7, 55);
	color: white;
}

#refreshList:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#customerSite {
	margin-left: 5%;
	text-align: center;
	background-color: rgb(191, 7, 55);
	color: white;
}

#customerSite a {
	text-decoration: none;
	color: white;
}

#customerSite:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

/* Trip list response styling */

#trip-list-inner-wrapper {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 1%;
	border: 2px solid grey;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px lightgrey;
}

#adminInfoBox {
	display: inline-block;
	float: left;
	width: 60%;
}

#adminName {
	float: center;
	font-size: 20px;
	margin-bottom: 2%;
}

#adminAbility {
	float: center;
	font-size: 12px;
}

#adminStartStyle {
	float: center;
	font-size: 12px;
}

#adminButtonBox {
	float: right;
	display: inline-block;
	margin-left: 5%;
}

#adminUpdateTrip {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background-color: rgb(191, 7, 55);
 	width: 120px;
 	height: 20px;
 	border: none;
 	border-radius: 25px;
 	color: white;
}

#adminUpdateTrip:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#adminImgBox {
	display: inline-block;
	text-align: right;
	margin-left: 5%;
	width: 12%;
	height: auto;
}

#adminImgCheckImg {
	border: 2px solid grey;
	width: 80%;
	height: auto;
}