body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	text-align: center;
	margin-top: 5%;
	font-size: 30px;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background-color: white;
 	width: 150px;
 	height: 45px;
 	margin: 5%;
 	border: none;
 	border-radius: 25px;
}

ul {
	padding: 0;
	list-style-type: none;
}

img {
	margin-top: 0px;
	border: 2px solid white;
	box-shadow: 1px 1px 1px 1px white;
	margin-left: 5%;
	margin-right: 5%;
}

.hidden {
	display: none;
}

#inner-box-wrapper {
	box-sizing: border-box;
	text-align: center;
	/*border: 0.5px solid black;*/
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 400px;
	background-image: url(img/sunset1.jpg);

	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	box-shadow: 1px 1px 1px 3px lightgrey;
}

#landing-box {
	margin-top: 5%;
	padding: 5%;
	color: black;
	font-size: 20px;
}

#start {
	margin-top: 15%;
	background-color: rgb(63, 3, 40);
	color: white;
}

#start:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#controls-wrapper {
	text-align: center;
}

#next {
	text-align: center;
	background-color: rgb(63, 3, 40);
	color: white;
}

#next:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#startOver {
	text-align: center;
	background-color: rgb(63, 3, 40);
	color: white;
}

#startOver:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#calendar-wrapper {
	margin-top: 5%;
	padding-top: 5%;
}

#calendar-wrapper, input {
	margin-top: 3%;
	font-size: 20px;
}

#skill-level-wrapper {
	text-align: center;
	margin-top: 5%;
	padding-top: 5%;
}

#skill-level-wapper, form {
	margin-top: 3%;
}

#ability-level, #skill-level-wrapper {
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;

}

#ability-level:hover {
    background-color: rgb(250, 204, 179);
}

#submit {
	text-align: center;
	background-color: rgb(63, 3, 40);
	color: white;
}

#submit:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

#final-review-wrapper {
	padding-top: 3%;
}
/* Trip wrapper sytling */

#nameOfTripStyle {
	text-align: right;
	padding-right: 5%;
	font-size: 30px;
	padding-top: 5%;
}

#imgStyleDiv {
	float: left;
	width: auto;
	height: 40%;
}

#descriptionStyle {
	color: black;
	padding-top: 2%;
	padding-right: 5%;
	text-align: right;
	margin-left: 45%;
}

#trip-back-wrapper {
	float: left;
	text-align: left;
	margin-top: 20%;
	margin-left: 4%;
	width: 5%;
}

#tripBack {
	width: 100%;
	font-size: 60px
}

#trip-forward-wrapper {
	float: right;
	text-align: right;
	margin-top: 20%;
	margin-right: 4%;
	width: 5%;
}

#tripForward {
	width: 100%;
	font-size: 60px;
}

#trip-wrapper {
	border: none;
}

#tripDatesStyle {
	float: left;
	font-size: 12px;
	color: black;
	padding-left: 5%;
	color: black;
}

#locationStyle {
	float: right;
	padding-right: 5%;
	padding-top: 2%;
}

#abilityLevelStyle {
	float: right;
	padding-top: 2%;
	padding-right: 5%;
}

#urlStyle {
	float: right;
	text-align: right;
	padding-right: 5%;
	padding-top: 5%;
}

#urlStyle button:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}

/* footer and about page styling */

footer {
	margin-top: 10%;
	margin-right: 2%;
	text-align: right;
	font-family: 'Sacramento', cursive;
	font-size: 24px;
}

footer a {
	color: lightgrey;
}

footer:hover a {
	color: black;
}

#about-description {
	padding: 5%;
	font-size: 20px;
}

#back-to-search {
	background-color: rgb(63, 3, 40);
	color: white;
}

#back-to-search a {
	text-decoration: none;
	color: white;
}

#back-to-search:hover {
	background-color: lightgrey;
	border: 1px darkgrey solid;
}
























