body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	text-align: center;
	margin-top: 10%;
	font-size: 30px;
}

button {
	font-family: 'Montserrat', sans-serif;
 	width: 150px;
 	height: 45px;
 	margin: 5%;
 	border: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

.hidden {
	display: none;
}

#inner-box-wrapper {
	box-sizing: border-box;
	text-align: center;
	/*border: 0.5px solid black;*/
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 300px;
}

#landing-box {
	margin-top: 5%;
}

#controls-wrapper {
	text-align: center;
	margin-top: 5%;
}

#calendar-wrapper {
	margin-top: 5%;
}

#calendar-wrapper, input {
	margin-top: 3%;
}

#skill-level-wrapper {
	text-align: center;
	margin-top: 4%;
}

#skill-level-wapper, form {
	margin-top: 3%;
}

#trip-back-wrapper {
	float: left;
	text-align: left;
	margin-top: 10%;
	width: 5%;
}

#tripBack {
	width: 100%;
}

#trip-forward-wrapper {
	float: right;
	text-align: right;
	margin-top: 10%;
	width: 5%;
}

#tripForward {
	width: 100%;
}

/* Trip Wrapper Styling*/
#trip-wrapper {
	border: none;
}

#tripDatesStyle {
	font-size: 12px;
	color: red;
}

img {
	width: 40%;
}


























